.banner {
  background-image:
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%),
    url("../../images/banner.jpg");

  background-size: cover;
  background-position: center;

  color: white;
  padding: 150px 0;
}

.banner h1 {
  font-size: 50px;
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
}
.banner h4 {
  animation: fadeBanner 1.5s ease;
}

@keyframes fadeBanner {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
