.btn-blue {
  background-color: #3D879A;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: inline-block;
  font-weight: 600;
}

.btn-blue:hover {
  background-color: #2f6e7d;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
